<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="micropost">What's up?</h1>
        <%= render 'shared/micropost_form' %>
        <%= render 'shared/feed' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
        <%= render 'shared/stats' %>
      </td>
    </tr>
  </table>
<% else %>
  <h1>Legacy Social Blog</h1>
  <p>
    Welcome to the microblogging site.
  </p>
  <div class="signup">
    <p>It's free, easy and exciting</p>
    <%= link_to "Get Started", signup_path, :class => "signup_button round" %>
  </div>
<% end %>
